@import "@fontsource/inter";
@import "@fontsource/lexend";
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.hyphens-none {
  hyphens: none;
}

.hyphens-manual {
  hyphens: manual;
}

.hyphens-auto {
  hyphens: auto;
}

@layer base {
  p {
    @apply pb-2;
  }

  .link {
    @apply text-primary hover:underline;
  }
}
