@import "@fontsource/inter";
@import "@fontsource/lexend";
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.hyphens-none {
  hyphens: none;
}

.hyphens-manual {
  hyphens: manual;
}

.hyphens-auto {
  hyphens: auto;
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply pb-2;
  }

  p {
    @apply pb-2;
  }

  .link {
    @apply text-primary hover:underline;
  }
}
